* {
	margin: 0;
	padding: 0;
}

html body {
	background-color: #87CEFA;
	height: 100%;
	margin: 1%;
}
@font-face {
	font-family: deftone;
	src: url('deftone stylus.ttf');
}


h1 {
	font-size: 15vw;
	font-family: deftone;
	color: yellow;
	-webkit-text-stroke: .1rem red;
	margin: 0px auto 1vh auto;
	width: 100%;
	display: block;
}

.georgePaint {
	width: 60vw;
	margin: 5vh auto;
	display: block;
}

.rey {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
.reyPicture {
	width: 50vw;
}

.reyPara {
	font-size: 2.5vw;
}

.mid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-top: 10vh;
	grid-template-areas: 
	"oldPicture kitePicture museumPicture"
	"oldPara kitePara museumPara"
}

.oldPicture {
	grid-area: oldPicture;
	width: 32vw;
	height: 64vh;
}

.kitePicture {
	grid-area: kitePicture;
	width: 32vw;
	height: 64vh;
}

.museumPicture {
	grid-area: museumPicture;
	width: 32vw;
	height: 64vh;
}

.oldPara {
	grid-area: oldPara;
	font-size: 2vw;
}

.kitePara {
	grid-area: kitePara;
	font-size: 2vw;
}

.museumPara {
	grid-area: museumPara;
	font-size: 2vw;
}

footer {
	width: 100%;
	height: 8vh;
	background-color: red;
	text-align: center;
	font-size: 6vh;
	color: yellow;
	font-family: deftone;
}
