* {
	margin: 0;
	padding: 0;
}
html body {
	background-color: #87CEFA;
	height: 100%;
	font-size: 16px;
	margin: 1%;
}
@font-face {
	font-family: deftone;
	src: url('deftone stylus.ttf');
}


.top{
	display: grid;
	grid-template-columns: 2% 1fr 1fr 2%;
	grid-gap: 2rem;
	grid-template-areas: 
	". headline paint ."
	". reypic reypara .";
}
.Paint{
	grid-area: paint;
	height: 30rem;
	width: 40rem;


}
.Paint img {
	height: 30rem;
	width: 40rem;
	
}

.headline {
	font-size: 6rem;
	font-family: deftone;
	color: yellow;
	-webkit-text-stroke: .1rem red;
	margin-right: .4rem;
	display: block;
	grid-area: headline;
}


.reyPicture {
	height: 40rem;
	width: 40rem;
	grid-area: reypic;
}

.reyPicture img {
	height: 40rem;
	width: 40rem;
}



.reyPara {
	font-size: 2rem;
	font-family: "lato";
	grid-area: reypara;
}



.mid{
	margin-top: 1%;
	display: grid;
	grid-template-columns: 2% 1fr 1fr 1fr 2%;
	grid-gap: 2rem;
	grid-template-areas: 
	". oldpic kitepic museumpic ."
	". oldpara kitepara museumpara ."
}
.oldPicture {
	grid-area: oldpic;
	justify-self: center;
}
.kitePicture {
	grid-area: kitepic;
	justify-self: center;
}
.museumPicture{
	grid-area: museumpic;
	justify-self: center;
}
.oldPicture  img {
	height: 18rem;
	width: 18rem;
}
.kitePicture  img{
	height: 18rem;
	width: 18rem;
}
.museumPicture img{
	height: 18rem;
	width: 18rem;
}
.oldPara {
  grid-area: oldpara;
  font-family: lato;
}
.kitePara {
  grid-area: kitepara;	
font-family: lato;
}
.museumPara {
	grid-area: museumpara;
	font-family: lato;
}
footer {
	margin-top: 5%;
	background-color: red;
	height: 2rem;
	padding: 2rem;
	text-align: center;
	font-family: deftone;
	font-size: 1.5em;
	width: 98vw;
}

