* {
	margin: 0;
	padding: 0;
}
html body {
	background-color: #87CEFA;
	height: 100%;
}
@font-face {
	font-family: deftone;
	src: url('deftone stylus.ttf');
}
.grid > * {
	grid-column: col-start / span 12;
}


@media (min-width: 1300px){
.grid{
	display: grid;
	grid-template-columns: repeat(12, 8.333%);
	grid-gap: 10px;
}
.Paint{
	grid-column-start: 7;
	grid-column-end: 11;
	height: 200px;

}
.Paint img {
	height: 200px;
	width: 400px;
	padding-left: 50px;
}
.headline{
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row: 1;
	font-size: 3.5em;
	font-family: deftone;
	color: yellow;
	-webkit-text-stroke: 2px red;
	padding-left: 20px;
}
.reyPicture {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 2;
}
.reyPicture img {
	height: 500px;
	width: 700px;
}
.reyPara {
	grid-column-start: 7;
	grid-column-end: 12;
	grid-row: 2;
	font-size: 2em;
	font-family: "lato";

}
.oldPicture {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 3;
	padding-left: 10%;
}
.kitePicture {
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row: 3;
	padding-left: 10%;
}
.museumPicture{
	grid-column-start: 9;
	grid-column-end: 12;
	grid-row: 3;
}
.oldPicture  img {
	height: 300px;
	width: 300px;
}
.kitePicture  img{
	height: 300px;
	width: 300px;
}
.museumPicture img{
	height: 300px;
	width: 300px;
}
.oldPara {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 4;
	padding-left: 10%;
font-family: lato;
}
.kitePara {
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row: 4;
	padding-left: 10%;
font-family: lato;
}
.museumPara {
	grid-column-start: 9;
	grid-column-end: 12;
	grid-row: 4;
	font-family: lato;
}
footer {
	padding: 10%;
	background-color: red;
	height:20px;
	padding: 20px;
	text-align: center;
	font-family: deftone;
	font-size: 1.5em;
}
}

@media (max-width: 375px){
.grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}
.Paint{
	grid-column: 1;
	grid-row: 2;
	height: 200px;
	margin-left: auto;
	margin-right: auto;


}
.Paint img {
	height: 200px;
	width: 400px;
	grid-row: 2;
	margin-left: auto;
	margin-right: auto;
}
.headline{
	grid-column: 1;
	grid-row: 1;
	font-size: 3.5em;
	font-family: deftone;
	color: yellow;
	-webkit-text-stroke: 2px red;

}
.reyPicture {
	grid-column:1;
	grid-row: 3;
}
.reyPicture img {
	height: 500px;
	width: 700px;
}
.reyPara {
	grid-column: 1;
	grid-row: 4;
	font-size: 2em;
	font-family: "lato";

}
.oldPicture {
	grid-column: 1;
	grid-row: 5;
	margin-left: auto;
	margin-right: auto;
}
.kitePicture {
	grid-column: 1;
	grid-row: 7;
	margin-right: auto;
	margin-left: auto;
}
.museumPicture{
	grid-column: 1;
	grid-row: 9;
	margin-left: auto;
	margin-right: auto;
}
.oldPicture  img {
	height: 300px;
	width: 300px;
	
}
.kitePicture  img{
	height: 300px;
	width: 300px;
}
.museumPicture img{
	height: 300px;
	width: 300px;
}
.oldPara {
	grid-column: 1;
	grid-row: 6;
	padding-left: 10%;
font-family: lato;
}
.kitePara {
	grid-column: 1;
	grid-row: 8;
	padding-left: 10%;
	font-family: lato;
}
.museumPara {
	grid-column: 1;
	grid-row: 10;
	font-family: lato;
	padding-left:auto;
	padding-right: auto;
}
}